@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: steelblue;
    background-color: turquoise;
}
.button{
    background-color:plum;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
  
}
.row input{
    font-size: 20px;
    margin: 0px;
    padding:  10px 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(200, 200, 222);
    
}
.button:hover{
    background-color: cornflowerblue;
}